boto3==1.9.130
botocore==1.12.130
certifi==2019.3.9
chardet==3.0.4
ConfigArgParse==0.14.0
Cython==0.29.11
docutils==0.14
future==0.17.1
idna==2.8
jmespath==0.9.4
nltk==3.4.3
numpy==1.16.2
python-dateutil==2.8.0
pytorch-pretrained-bert==0.6.1
regex==2019.4.14
requests==2.21.0
s3transfer==0.2.0
scipy==1.2.1
six==1.12.0
torch==1.0.1.post2
tqdm==4.30.0
urllib3==1.24.1